.header {
    overflow: hidden;
    background-color: #fff8f4;
    padding: 20px 10px;
    margin-top: 5%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 5%;
    padding-bottom: 5%;
    padding-left: 5%;
  }
  
  

  p.namaste{
        font-family: 'Lexend Deca',sans-serif;
        color: #332e2e;
        font-size: 100px;
        line-height: .8em;
        font-weight: 900;
        text-align: left;
  }
  
  p.hello{
    margin-top: 1px;
    padding-left: 10px;
    font-size: 15px;
    line-height: 28px;
    text-align: left;
  }
