.header {
    overflow: hidden;
    background-color: #fff8f4;
    padding: 20px 10px;
    margin-top: 5%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 5%;
    padding-bottom: 5%;
    padding-left: 5%;
  }
  
  header .button{
    position: static;
    left: auto;
    top: 0;
    right: 0;
    bottom: auto;
    display: block;
    padding: 15px 40px;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    border: 2px solid #332e2e;
    border-radius: 60px;
    background-color: #e3fff8;
    -webkit-transition: .2s cubic-bezier(.455, .03, .515, .955);
    transition: .2s cubic-bezier(.455, .03, .515, .955);
    font-family: 'Atkinson Hyperlegible',sans-serif;
    color: #332e2e;
    font-weight: 700;
    letter-spacing: 0;
    text-decoration: none;
    text-transform: none;
  }
  

  p.namaste{
        font-family: 'Lexend Deca',sans-serif;
        color: #332e2e;
        font-size: 100px;
        line-height: .8em;
        font-weight: 900;
        text-align: left;
  }
  
  p.hello{
    margin-top: 1px;
    padding-left: 10px;
    font-size: 15px;
    line-height: 28px;
    text-align: left;
  }
